body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
  }
  
  a {
    color: #d0d67f;
    text-decoration: firebrick;
    transition: color 0.1s;
  }
  
  a:hover {
    color: #3cdbce;
  }
  
  button {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    font-size: 250%;
    background-color: #d64187;
    border-radius: 15px;
    padding: 6px 15px;
    color: white;
  }
  
  button:hover {
    background-color: #2e072533;
  }
  
  .choices button {
    display: inline-block;
  }
  
  input[type="text"] {
    font-size: 150%;
  }
  
  ol {
    padding-left: 10px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 7px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #edf1d9;
  }
  
  .wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
  }
  
  .hide {
    display: none;
  }
  
  .start {
    text-align: center;
  }
  
  .scores {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 5px solid #ccc;
  }
  
  .timer {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  